body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  background-image: url("images/background.png");
  background-size: cover;
}

html {
  display: flex;
  flex-wrap: wrap;
}


canvas {
  position: absolute;
}

#board {
  max-width: 1000px;
  max-height: 1000px;
  border: 5px solid black;
  background-color: slategray;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board div {
  width: 48px;
  height: 48px;
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

}

#flag-marker {
  max-width: 100px;
  max-height: 100px;
  background-color: slategray;

  top: 5px;
  left: 5px;
  display: flex;
}

#flag-marker div {
  width: 100px;
  height: 100px;

  /*display: flex;
  flex-wrap: center;*/
  justify-content: center;
  content: url("images/marked-bomb.png");
}

.tile-clicked {
  background-color: lightgray;
}

.bomb-clicked {
  background-color: red;
  content: url("images/bomb.png")
}

.flag-tile {
  content: url("images/marked-bomb.png")
}

.flag-tile-clicked {
  background-color: red;
  content: url("images/marked-bomb.png")
}

.x1 {
  content: url("images/1.png")
}

.x2 {
  content: url("images/2.png")  
}

.x3 {
  content: url("images/3.png")
}

.x4 {
  content: url("images/4.png")
}

.x5 {
  content: url("images/5.png")
}

.x6 {
  content: url("images/6.png")
}

.x7 {
  content: url("images/7.png")  
}

.x8 {
  content: url("images/8.png")
}